<div class="hero">

  
  <img src="https://cdn-icons-png.flaticon.com/512/929/929564.png"
       class="floating rupee">

  <img src="https://cdn-icons-png.flaticon.com/512/272/272525.png"
       class="floating dollar">

  <img src="https://cdn-icons-png.flaticon.com/512/3774/3774299.png"
       class="floating ratio">

  
  <div class="hero-content">

    <div class="left">

      <h1>
        Master Your <span>Money</span>
      </h1>

      <p class="tagline">
        Visualize income vs expenses with clear ratio insights
        and make smarter financial decisions.
      </p>

      <div class="buttons">
        <button pButton
                label="Start Tracking"
                icon="pi pi-chart-pie"
                class="p-button-lg p-button-rounded p-button-primary"
                (click)="goToRegister()">
        </button>

        <button pButton
                label="Login"
                icon="pi pi-sign-in"
                class="p-button-lg p-button-rounded p-button-outlined"
                (click)="goToLogin()">
        </button>
      </div>

  
      <div class="quote-box">
        <i class="pi pi-quote-left quote-icon"></i>
        <p>
          “Financial freedom is not about earning more,
          it's about managing better.”
        </p>
      </div>

    </div>

    <div class="right">
      <img src="https://illustrations.popsy.co/blue/finance-growth.svg"
           class="hero-img">
    </div>

  </div>

</div>