.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 40px;


  background: rgba(17, 24, 39, 0.85); 
  backdrop-filter: blur(12px);

  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.08);

  position: sticky;
  top: 0;
  z-index: 1000;
}


.logo a {
  text-decoration: none;
  color: #fbbf24; 
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.5px;
}


.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
  padding-bottom: 4px;
}


.nav-links li a:hover {
  color: #fbbf24;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #fbbf24;
  transition: 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a.active::after {
  width: 100%;
}

.nav-links .p-button {
  padding: 6px 16px;
  font-weight: 500;
}